<div class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <img src="assets/logo_Yavirac.png" alt="Logo YAVIRAC" class="logo-image-sidebar">
    </div>
    <p class="slogan">Fortaleciendo Capacidades</p>
  </div>

  <nav class="sidebar-nav">
    <button class="nav-item" (click)="navigateTo('/usuarios')">
      Gestión de Usuarios
    </button>
    <button class="nav-item active" (click)="navigateTo('/inventario')">
      Inventario
    </button>
    <button class="nav-item">
      <!-- Opción adicional -->
    </button>
    <button class="nav-item">
      <!-- Opción adicional -->
    </button>
    <button class="nav-item">
      <!-- Opción adicional -->
    </button>
  </nav>
</div>

